<IfModule mod_rewrite.c>

RewriteEngine On

RewriteRule ^(.*)$ public/$1 [L]

</IfModule>
# RewriteCond %{HTTP_HOST} ^sandyakala\.bemilkomunej\.com$
# RewriteRule ^/?$ "https\:\/\/sandyakala\.bemilkomunej\.com\/" [R=301,L]

